@tailwind base;
@tailwind components;
@tailwind utilities;

.verticalLine {
  border-right: 8px solid;
  margin:0.4px;
}

li {
  display: inline-block;
  margin-right: 10px; /* add spacing between items */
}

.reverse{
  direction: rtl;
}
